# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# Flask cache & instance folders
instance/
.webassets-cache

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy / Pyre / Pytype
.mypy_cache/
.pyre/
.pytype/

# Logs
*.log

# Database
*.sqlite3
*.db

# Docker
__pycache__/
*.pyc
.DS_Store
*.pid
*.bak
*.swp
docker-compose.override.yml
